// COLOR SETUP
$cinnabar: #e33c31;

$thunder: #231f20;
$slate-gray: #708090;
$athens-gray: #EEF0F3;
$white-smoke: #F5F5F5;
// most names from - http://chir.ag/projects/name-that-color

// REDS
$color-red-primary: $cinnabar;

// GENERAL
$color-site-light: $white-smoke;
$color-site-dark: $thunder;
