//setup
@import 'global/definitions';

//test
#topnav h1 {
  width: 159px;
  height: 26px;
  a {
    width: 159px;
    height: 26px;
    background-image: image-url('voidlogo.png');
    background-size: 159px 26px;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -3000px;

    &:hover, &:focus {
      background-color: transparent;
    }
  }
}
